# IntelliJ IDEA
.idea/
*.iml

# Maven
/target/

# Outros diretórios gerados
out/
logs/

# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*
